# IntelliJ project files
.idea
*.ipr
*.iml
*.iws
out
gen### Example user template template

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

.gradle/
build/
run/
